html{
  font-size: 18px;
  font-family: Rancho;
  cursive;
  color: green;
  background-color: beige;
}
h1{
  font-size: 48px;
  font-family: Rancho;
  cursive;
  color: green;
}
h2{
  font-size: 34px;
  font-family: Rancho;
  cursive;
  color: green;
}


p2{
  font-size: 18px;
  position: absolute;
  right: 80px;
}
p3{
  font-size: 18px;
  position: absolute;
  left: 80px;
}
