html{
  font-size: 20px;
  font-family: Rancho;
  cursive;
  color: green;
  background-color: beige;
}
h1{
  font-size: 48px;
  font-family: Rancho;
  cursive;
  color: green;
}
h2{
  font-size: 36px;
  font-family: Rancho;
  cursive;
  color: green;
}


p2{
  position: absolute;
  right: 60px;
}
p3{
  position: absolute;
  left: 70px;
}
#navbar{
  position: absolute;
  left: 10px;
}
