.font{
  font-size: 100px;
  color:white;
  font-family: "Rancho";
}
p{
  font-size: 30px;
  font-family: 'Dosis', sans-serif;

  margin-left: 40px;
  color:white;
}
html{
  background-color: grey;
}
.titles{
  color:white;
  font-size: 55px;
}
.text{
  color:white;
  font-size: 35px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.smalltext{
    color:white;
    font-size: 25px;
}

h1{
  font-size: 100px;
  color:white;
  font-family: "Rancho";

}
