button {
   border-color: black;
   background-color: transparent;
   font-size: 25px;
   color: white;
   width: 75px;
   height: 45px;
 }

.drop{
  border-radius: 16px;
}

.drop:hover, .drop:focus {
  background-color: transparent;
  outline: none;
  border-radius: 16px;
  color: #F08080;
  box-shadow: 0 0;
}
.navbar {
  position: relative;
  display: inline-block;
}

.content:hover{
  color: #ea3b50;
  box-shadow: 0 0;
}

.content {
  display: none;
  position: absolute;
  background-color: #EAF0EF;
  width: 200px;
  font-size: 35px;
  text-transform: uppercase;
  color: black;
  font-family: 'Dosis', sans-serif;



  z-index: 1;
}
.show {display:block;}


.class{
  color: black;

}
