button {
   border-color: rgba(255, 255, 255, 0.8) ;
   background-color: transparent;
   font-size: 25px;
   color: white;
   width: 75px;
   height: 45px;
   text-align : center;
   margin-left : 32px;
   margin-top: 30px;
 }



.drop{
  border-radius: 16px;
}
header {
width: 100%;
}

.drop:hover, .drop:focus {
  background-color: transparent;
  outline: none;
  border-radius: 16px;
  color: #F08080;
  box-shadow: 0 0;

}
.navbar {
  position: relative;
  display: inline-block;
}

.content:hover{
  color: #ea3b50;
  box-shadow: 0 0;
}

.content {
  display: none;
  position: absolute;
  background-color: black;
  width: 300px;
  height: 700px;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration-color: black;
  font-family: 'Dosis', sans-serif;
  background: rgba(255, 255, 255, 0.8);



  z-index: 1;
}
.show {display:block;}


.class{
  color: black;

}


 a{
  color: black;

}

 a:hover{
  color: #ea3b50;
  transform: translate(120px);

}

.dropdown{

}

.dropdown:hover .f {
  background-color: gray;
  background: rgba(255, 255, 255, 0.8);


}

  .f {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}
.dropdown:hover .f {
  display: block;
}

.d{
   outline: none;
   width: 100px;
   height: 0px;
   color: black;
   font-family: 'Dosis', sans-serif;
   margin-left: auto;
   font-size: 25px;



}
.fa fa-caret-down{
  color:white;
}
